body {
    --headerHight: 40px;
    margin: var(--headerHight) 0 0 0;
    background-color: cadetblue;
}

img{
    margin: 10px auto;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    background-color: wheat;
    box-shadow: 1px 1px 1px black;
}

.username{
    letter-spacing: 2px;
    font-size: 24px;
    color: white;
    display: block;
    text-align: center;
    margin: 5px auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--headerHight);
    width: 100%;
    display: flex;
    background: tomato;
}

.side {
    background-color: wheat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 250px;
    transform: translateX(-250px);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: stretch;
}

.avatar{
    flex: 1;
    text-align: center;
    background-color: cadetblue;
}

.chatList{
    flex: 2;
    text-align: center;
}

.openSidebar{
    transform: translateX(0);
    box-shadow: 0 0 10px dimgray;
}

.main {
    display: flex;
    flex-direction: row;
}

.navi {
    flex: 1;
}

.chat {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.chatArea {
    margin: 5px;
    flex: 2;
    height: 100%;
}

.controls {
    background-color: cadetblue;
    width: 100%;
    position: fixed;
    bottom: 0;
    flex: 1;
    display: flex;
    flex-direction: row;
}

.tbox, .sendBtn{
    font-size: 18px;
    margin: 3px;
    border: none;
    outline: none;
    box-shadow: 1px 1px 1px black;
    border-radius: 15px;
}

.tbox {
    flex: 2;
    padding: 3px 10px;
}

.sendBtn, #menuBtn, #closeBtn{
    cursor: pointer;
}

.sendBtn {
    flex: 1;
    padding: 3px;
    letter-spacing: 3px;
    color: white;
    background-color: tomato;
}

#menuBtn{
    color: white;
    background-color: tomato;
    border: none;
    outline: none;
}

#closeBtn{
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    position: fixed;
    top: 3px;
    right: 0;
}

    #closeBtn:hover, #menuBtn:hover{
        color: wheat;
    }