p{
    text-align: center;
    background-color: deepskyblue;
}

.row{
    --bs-gutter-x: 0px;
}

.container{
    padding: 0px;
}

.container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main{
    padding: 10px;
    background-color: cadetblue;
    /* border-radius: 15px; */
    box-shadow: 1px 1px 1px black;
}

.side{
    background-color: white;
    /* border-radius: 15px 0px 0px 15px; */
}

.nav{
    border: 1px solid orangered;
    outline: none;
}

.chatLists{
    height: 100px;
}

.chat{
    border: 1px solid white;
}

.chatArea{
    height: 350px;
    background-color: red;
}

img{
    display: block;
    margin: 10px auto 10px auto;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    background-color: deepskyblue;
    box-shadow: 1px 1px 1px black;
}

.navi{
    margin: 15px;
    text-align: center;
    position: static;
    bottom: 10px;
}

.signOut:hover, .setting:hover{
    cursor: pointer;
    color: teal;
}

.control{
    margin: 5px;
    position: static;
    bottom: 10px;
}

.textBox, .sendButton{
    box-shadow: 1px 1px 1px black;
    /* font-size: 18px; */
    padding: 5px;
}

.textBox{
    width: 80%;
    padding-left: 10px;
    outline: none;
    /* border-radius: 15px 0px 0px 15px; */
    border: none;
}

.sendButton{
    width: 20%;
    color: white;
    background-color: tomato;
    text-transform: uppercase;
    letter-spacing: 2px;
    /* border-radius: 0px 15px 15px 0px; */
    outline: none;
    border: none;
}

.sendButton:active{
    transform: translate(1px, 1px);
}

.sendButton:focus{
    outline: none;
}

.colBtn:focus{
    outline: none;
    border: none;
}

/* @media only screen and (max-width: 735px) {
    .side{
        visibility: collapse;
    }

    .chat{
        width: 100%;
    }
  } */