<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signInStyle.css">
    <title>Document</title>
</head>
<body>
    <div class="loginForm">
        <form>
            <h1>Sign In</h1>
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Password" inputmode="email">
            <input type="checkbox" name="rmbrMeBox" id="rmbrMeBox" value="isSignedIn">
            <label for="rmbrMeBox">stay signed in</label>
            <!-- <h5><a href="signUp.html" class="toSignUpPage">Forgot Username/Password?</a> 
            </h5> -->
            <button class="signInButton">Login</button>
        </form>
        <a href="signUp.html" class="toSignUp">
            Sign Up
        </a>
    </div>
</body>
</html>
