<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="loginStyle.css">
    <title>Document</title>
</head>
<body>
    <div>
        <div class="loginForm">
            <form>
                <h1>Sign In</h1>
                <input type="text" placeholder="Name">
                <input type="text" placeholder="Password" inputmode="email">
                <h5>No Account yet? <a href="signUp.html" class="acc">Sign Up</a> 
                </h5>
                <button class="loginButton">Login</button>
            </form>
        </div>
    </div>
</body>
</html>
