*{
    font-family: Helvetica, Arial, sans-serif;
    color: darkslategrey;
}

.loginForm{
    box-shadow: 2px 2px 3px black;
    border-radius: 10px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: cadetblue;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form{
    margin: 25px 15px 25px 15px;
}

label{
    color: white;
}

form input[type="checkbox"]{
    margin: 10px 0px 0px 10px;
    outline: none;
    border: none;
}

form input[type="text"]{
    background-color: rgb(231, 231, 231);
    border: none;
    padding: 5px;
    border-radius: 5px;
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 18px;
    outline: none;
}

form input:focus{
    background-color: white;
    box-shadow: 1px 1px black;
}

.loginButton, form input{
    box-shadow: 1px 1px black;
}
                                     
.loginButton{
    outline: none;
    border: 1px solid transparent;
    border-radius: 20px;
    width: 50%;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: orangered;
    font-size: 18px;
    color: white;
    letter-spacing: 2px;
}

.loginButton:active{
    transform: translate(1px, 1px);
}

.loginButton:hover{
    background-color: red;
}

h1{
    color: white;
    text-align: center;
    letter-spacing: 2px;
}

h1:hover{
    animation: example 5s infinite;
}

@keyframes example {
    0% { color: white; }
    15% { color: orange; }
    25% { color: orangered; }
    50% { color: darkred; }
    75% { color: orangered; }
    85% { color: orange; }
    100% { color: white; }
  }

h5{
    text-align: center;
}

.acc{
    text-decoration: none;
    color: white;
}