.overview{
    display: flex;
}

.sidebar{
    width: 30%;
    background-color: tomato;
}

.main{
    flex: 1;
    overflow: auto;
    background-color: teal;
}

/* chat area */
.chat{
    height: 500px;
    background-color: white;
    margin: 3px;
}

.control{
    display: flex;
    margin: 1px;
}

.control input{
    background-color: rgb(231, 231, 231);
    border: none;
    padding: 5px 5px 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    font-size: 18px;
    outline: none;
    flex: 1;
}

.control input:focus{
    background-color: white;
    box-shadow: 1px 1px black;
}

.sendButton{
    border: none;
    width: 30%;
    outline: none;
    border-radius: 20px;
    padding: 5px;
    background-color: orangered;
    font-size: 18px;
    color: white;
    letter-spacing: 2px;
}

.sendButton:active{
    transform: translate(1px, 1px);
}

.sendButton:hover{
    background-color: red;
}

.control input, .sendButton{
    margin: 3px;
    box-shadow: 1px 1px black;
}