<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="overviewStyle.css">
    <title>Overview</title>
</head>
<body>
    <div class="overview">
        <aside class="sidebar">
        </aside>
    
        <main class="main">
            <div class="chat">
            </div>

            <div class="control">
                <input type="text" placeholder="type here">
                <button class="sendButton">Send</button>
            </div>
        </main>
    </div>
</body>
</html>