body {
    --headerHight: 40px;
    margin: var(--headerHight) 0 0 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: url("https://i.pinimg.com/originals/f0/98/a4/f098a4e78f79019f4067e44995d5a7c3.jpg");
}

*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.username{
    word-break: break-all;
    letter-spacing: 2px;
    font-size: 24px;
    color: white;
    display: block;
    text-align: center;
    margin: 5px 5px;
}

.header {
    box-shadow: 1px 2px 5px dimgray;
    position: fixed;
    top: 0;
    left: 0;
    height: var(--headerHight);
    width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    background: tomato;
}

.side {
    border-radius: 10px;
    background-color: wheat;
    position: fixed;
    top: 3px;
    bottom: 3px;
    left: 0px;
    z-index: 2;
    /* height: 100vh; */
    width: 300px;
    transform: translateX(-300px);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: stretch;
}

img{
    margin: 20px auto;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    background-color: tomato;
    box-shadow: 1px 1px 1px black;
}

.avatar{
    border-radius: 10px 10px 0px 0px;
    flex: 1;
    text-align: center;
    background-color: darkcyan;
}

.chatList{
    border-radius: 0px 0px 10px 10px;
    background-color: tomato;
    flex: 2;
    text-align: center;
}

.openSidebar{
    left: 3px;
    transform: translateX(0);
    box-shadow: 0 0 5px black;
}

.main {
    display: flex;
    flex-direction: row;
}

.navi {
    flex: 1;
}

.chat {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.chatArea {
    margin: 0px 5px 43px 5px;
    flex: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.controls {
    width: 100%;
    position: fixed;
    bottom: 0;
    flex: 1;
    display: flex;
    flex-direction: row;
}

.tbox, .sendBtn{
    font-size: 18px;
    margin: 3px;
    border: none;
    outline: none;
    box-shadow: 1px 1px 1px black;
    border-radius: 20px;
}

.tbox {
    flex: 2;
    padding: 3px 10px;
}

.sendBtn, #menuBtn, #closeBtn, .btn{
    cursor: pointer;
}

.sendBtn {
    flex: 1;
    padding: 3px;
    letter-spacing: 3px;
    color: white;
    background-color: tomato;
}
    .sendBtn:active, .createRoom:active, .room:active{
        transform: translate(1px, 1px);
    }

.usernameHeader{
    position: sticky;
    flex: 2;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-self: center;
    word-break: break-all;
    letter-spacing: 2px;
    font-size: 24px;
    color: white;
    text-align: center;
    margin: 5px 30px;
}

.logout{
    flex: 1;
    color: white;
    text-decoration: none;
    position: absolute;
    right: 7px;
    top: 7px;
}
    .logout:visited{
        color: white;
    }

    .logout:active{
        color: wheat;
    }

#menuBtn{
    position: absolute;
    top: 7px;
    left: 0;
    flex: 1;
    color: white;
    background-color: tomato;
    border: none;
    outline: none;
}

#closeBtn{
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    position: fixed;
    top: 3px;
    right: 0;
}

    #closeBtn:hover, #menuBtn:hover{
        color: wheat;
    }


.content{
    color: white;
    margin: 5px 5px 5px;
    text-align: end;
    font-size: 18px;
}

.sender{
    margin: 5px 5px 5px;
    color: gainsboro;
    font-size: 12px;
    font-style: italic;
    text-align: end;
}

.content2{
    margin: 5px 5px 5px;
    text-align: start;
    font-size: 18px;
}

.recepient{
    margin: 5px 5px 5px;
    color: grey;
    font-size: 12px;
    font-style: italic;
    text-transform: uppercase;
    text-align: start;
}

.bubble{
    box-shadow: 2px 2px 3px dimgrey;
    align-self: flex-end;
    margin-top: 5px;
    border-radius: 10px 0px 10px 10px;
    background-color: teal;
    width: fit-content;
}

.recBubble{
    box-shadow: 2px 2px 3px dimgray;
    align-self: flex-start;
    margin-top: 5px;
    border-radius: 0px 10px 10px 10px;
    background-color: white;
    width: fit-content;
}

.blur{
    visibility: hidden;
    opacity: 0.5;
    position: absolute;
    z-index: 1;
    display: block;
    height: 100%;
    width: 100%;
    background-color: darkslategray;
    transition: transform 0.3s;
}

.showBlur{
    visibility: visible;
}

/* .room{
    
    padding: 5px;
    background-color: wheat;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
    cursor: pointer;
} */

.room p, .createRoom p{
    text-align: center;
    color: black;
    cursor: pointer;
}

.loadChatPopup{
    background-color: tomato;
}

.createRoom, .room{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    background-color: wheat;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
    cursor: pointer;
}

.createRoom .material-icons, .room .material-icons{
    font-size: 30px;
    text-shadow: 1px 1px 1px dimgray;
    color: teal;
    align-self: center;
    margin-right: 5px;
}

.form-control{
    cursor: text;
    background-color: rgb(231, 231, 231);
    border: none;
    padding: 5px;
    border-radius: 5px;
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 18px;
    outline: none;
    box-shadow: 1px 1px black;
}

.btn{
    text-transform: uppercase;
    width: 50%;
    font-size: 18px;
    margin-top: 20px;
    border: none;
    outline: none;
    box-shadow: 1px 1px 1px black;
    border-radius: 20px;
    padding: 10px;
    letter-spacing: 3px;
    color: white;
    background-color: tomato;
}

.swal2-popup{
    background-color: teal;
    box-shadow: 2px 2px 3px black;
    border-radius: 20px;
}

.required{
    visibility: hidden;
}